.carousel-inner{
    margin: 10px;
}
.idea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Merriweather', serif;
    padding: 50px;
    text-align: center;
}
.barra{
    display: flex;
    font-family: 'Merriweather', serif;  
    flex-direction: column;
    background-color: rgb(255,58,58);
    background: linear-gradient(90deg, rgba(255,58,58,1) 0%, rgba(187,187,189,1) 20%, rgba(244,244,244,1) 80%, rgba(255,58,58,1) 100%);
    font-size: 20px;
}
.barra1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
p{
    font-family: 'Lato', sans-serif;
    padding: 20px
}



