.carousel-inner{
    margin: 10px;
}
.idea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Merriweather', serif;
    padding: 50px;
    text-align: center;
    background-color: #efead5
}
.barra{
    display: flex;
    font-family: 'Merriweather', serif;  
    flex-direction: column;
    background-color: #efead5;
    font-size: 20px;
}
.barra1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
p{
    font-family: 'Lato', sans-serif;
    padding: 20px;
}
.barra2{
    display: flex;
    padding: 20px;
    background-color: #efead5;
}
h3{
    font-size: 100px;
}
.texto1{
    font-size: 50px;
}
.fondo1{
    background-color: #707173;
}